__pycache__/
*.py[cod]
*.class
.venv/
venv/
build/
dist/
*.egg-info/
logs/
*.log
.env
.env.*
!.env.example
.vscode/
.idea/
.cursor/
*.swp
.coverage
htmlcov/
.pytest_cache/
app/db/migrations/__pycache__/
**/.DS_Store

# Ignore all markdown except README.md
*.md
!README.md

# Local artifacts
books.json